<!-- <form>
  
<div class="row">
  <div class="mb-6">
    <label class="form-label"> Poll Title </label>
    <input type="text" class="form-control">
  </div>

  <div class="raw-mb-6">
    <label class="form-label"> Your Option </label>
    <input type="text" class="form-control">
  </div>
</div>


   <div class="raw-mb-3">
    <label class="form-label"> Name </label>
    <input type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->


<center>
<div class="center">


<style>
body {background-color: powderblue;}
h1   {color: navy;}
label {color: navy;}
input {color: grey;}
label {color: navy;}
whitespace {color: yellow;}
</style>

<h1> Form Response</h1>


<form action="/team_name_url/" method="post">

    <label for="team_name">Enter Name: </label>



    <input id="team_name" type="text" name="name_field" value="Inter Your Name.">
  

    <label for="team_name">Your Option: </label>
    <input id="team_name" type="text" name="name_field" value="Inter Your Option.">
    
    <input style = "color: red" type="submit" value="OK">
    
</form>
</div>
</center>

